<p id="notice"><%= notice %></p>

<h1>Listing Fixtures</h1>

<table>
  <thead>
    <tr>
      <th>Home team</th>
      <th>Away team</th>
      <th>Gameweek</th>
      <th>Kickoff</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fixtures.each do |fixture| %>
      <tr>
        <td><%= fixture.home_team_id %></td>
        <td><%= fixture.away_team_id %></td>
        <td><%= fixture.gameweek_id %></td>
        <td><%= fixture.kickoff %></td>
        <td><%= link_to 'Show', fixture %></td>
        <td><%= link_to 'Edit', edit_fixture_path(fixture) %></td>
        <td><%= link_to 'Destroy', fixture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fixture', new_fixture_path %>
