<p id="notice"><%= notice %></p>

<h1>Listing Fixtures</h1>

<table>
  <thead>
    <tr>
      <th>Home</th>
      <th>Result</th>
      <th>Away</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @fixtures.each do |fixture| %>
      <tr>
        <td><%= fixture.home_team.name %></td>
	<td><%= fixture.result %></td>
        <td><%= fixture.away_team.name %></td>
        <td><%= link_to 'Show', fixture %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fixture', new_fixture_path %>
<br>
