<p id="notice"><%= notice %></p>

<h1>Listing Team Sheets</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @team_sheets.each do |team_sheet| %>
      <tr>
        <td><%= team_sheet.name %></td>
        <td><%= link_to 'Show', team_sheet %></td>
        <td><%= link_to 'Edit', edit_team_sheet_path(team_sheet) %></td>
        <td><%= link_to 'Destroy', team_sheet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team sheet', new_team_sheet_path %>
