<p id="notice"><%= notice %></p>

<p>
  <strong>Team:</strong>
  <%= @player.team_id %>
</p>

<p>
  <strong>Ff:</strong>
  <%= @player.ff_id %>
</p>

<p>
  <strong>Display name:</strong>
  <%= @player.display_name %>
</p>

<p>
  <strong>Position:</strong>
  <%= @player.position %>
</p>

<p>
  <strong>Selected by:</strong>
  <%= @player.selected_by %>
</p>

<p>
  <strong>Total points:</strong>
  <%= @player.total_points %>
</p>

<p>
  <strong>Team code:</strong>
  <%= @player.team_code %>
</p>

<p>
  <strong>News:</strong>
  <%= @player.news %>
</p>

<p>
  <strong>Status:</strong>
  <%= @player.status %>
</p>

<p>
  <strong>Code:</strong>
  <%= @player.code %>
</p>

<p>
  <strong>First name:</strong>
  <%= @player.first_name %>
</p>

<p>
  <strong>Second name:</strong>
  <%= @player.second_name %>
</p>

<p>
  <strong>Now cost:</strong>
  <%= @player.now_cost %>
</p>

<p>
  <strong>Chance of playing this round:</strong>
  <%= @player.chance_of_playing_this_round %>
</p>

<p>
  <strong>Chance of playing next round:</strong>
  <%= @player.chance_of_playing_next_round %>
</p>

<p>
  <strong>Value form:</strong>
  <%= @player.value_form %>
</p>

<p>
  <strong>Value season:</strong>
  <%= @player.value_season %>
</p>

<p>
  <strong>Cost change start:</strong>
  <%= @player.cost_change_start %>
</p>

<p>
  <strong>Cost change start fall:</strong>
  <%= @player.cost_change_start_fall %>
</p>

<p>
  <strong>In dreamteam:</strong>
  <%= @player.in_dreamteam %>
</p>

<p>
  <strong>Dreamteam count:</strong>
  <%= @player.dreamteam_count %>
</p>

<p>
  <strong>Selected by percent:</strong>
  <%= @player.selected_by_percent %>
</p>

<p>
  <strong>Form:</strong>
  <%= @player.form %>
</p>

<p>
  <strong>Transfers out:</strong>
  <%= @player.transfers_out %>
</p>

<p>
  <strong>Transfers in:</strong>
  <%= @player.transfers_in %>
</p>

<p>
  <strong>Loans in:</strong>
  <%= @player.loans_in %>
</p>

<p>
  <strong>Loans out:</strong>
  <%= @player.loans_out %>
</p>

<p>
  <strong>Loaned in:</strong>
  <%= @player.loaned_in %>
</p>

<p>
  <strong>Loaned out:</strong>
  <%= @player.loaned_out %>
</p>

<p>
  <strong>Points per game:</strong>
  <%= @player.points_per_game %>
</p>

<p>
  <strong>Ep this:</strong>
  <%= @player.ep_this %>
</p>

<p>
  <strong>Ep next:</strong>
  <%= @player.ep_next %>
</p>

<p>
  <strong>Special:</strong>
  <%= @player.special %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
