<p id="notice"><%= notice %></p>

<h1>Listing Gameweek Events</h1>

<table>
  <thead>
    <tr>
      <th>Fixture</th>
      <th>Player</th>
      <th>Kickoff</th>
      <th>Minutes player</th>
      <th>Goals scored</th>
      <th>Assists</th>
      <th>Clean sheets</th>
      <th>Goals conceded</th>
      <th>Own goals</th>
      <th>Penalties saved</th>
      <th>Penalties missed</th>
      <th>Yellow cards</th>
      <th>Red cards</th>
      <th>Saves</th>
      <th>Bonus points</th>
      <th>Esp</th>
      <th>Bps</th>
      <th>Net transfers</th>
      <th>Value</th>
      <th>Point</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gameweek_events.each do |gameweek_event| %>
      <tr>
        <td><%= gameweek_event.fixture_id %></td>
        <td><%= gameweek_event.player_id %></td>
        <td><%= gameweek_event.kickoff %></td>
        <td><%= gameweek_event.minutes_player %></td>
        <td><%= gameweek_event.goals_scored %></td>
        <td><%= gameweek_event.assists %></td>
        <td><%= gameweek_event.clean_sheets %></td>
        <td><%= gameweek_event.goals_conceded %></td>
        <td><%= gameweek_event.own_goals %></td>
        <td><%= gameweek_event.penalties_saved %></td>
        <td><%= gameweek_event.penalties_missed %></td>
        <td><%= gameweek_event.yellow_cards %></td>
        <td><%= gameweek_event.red_cards %></td>
        <td><%= gameweek_event.saves %></td>
        <td><%= gameweek_event.bonus_points %></td>
        <td><%= gameweek_event.esp %></td>
        <td><%= gameweek_event.bps %></td>
        <td><%= gameweek_event.net_transfers %></td>
        <td><%= gameweek_event.value %></td>
        <td><%= gameweek_event.point %></td>
        <td><%= link_to 'Show', gameweek_event %></td>
        <td><%= link_to 'Edit', edit_gameweek_event_path(gameweek_event) %></td>
        <td><%= link_to 'Destroy', gameweek_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gameweek event', new_gameweek_event_path %>
