<p id="notice"><%= notice %></p>

<p>
  <strong>Fixture:</strong>
  <%= @gameweek_event.fixture_id %>
</p>

<p>
  <strong>Player:</strong>
  <%= @gameweek_event.player_id %>
</p>

<p>
  <strong>Kickoff:</strong>
  <%= @gameweek_event.kickoff %>
</p>

<p>
  <strong>Minutes player:</strong>
  <%= @gameweek_event.minutes_player %>
</p>

<p>
  <strong>Goals scored:</strong>
  <%= @gameweek_event.goals_scored %>
</p>

<p>
  <strong>Assists:</strong>
  <%= @gameweek_event.assists %>
</p>

<p>
  <strong>Clean sheets:</strong>
  <%= @gameweek_event.clean_sheets %>
</p>

<p>
  <strong>Goals conceded:</strong>
  <%= @gameweek_event.goals_conceded %>
</p>

<p>
  <strong>Own goals:</strong>
  <%= @gameweek_event.own_goals %>
</p>

<p>
  <strong>Penalties saved:</strong>
  <%= @gameweek_event.penalties_saved %>
</p>

<p>
  <strong>Penalties missed:</strong>
  <%= @gameweek_event.penalties_missed %>
</p>

<p>
  <strong>Yellow cards:</strong>
  <%= @gameweek_event.yellow_cards %>
</p>

<p>
  <strong>Red cards:</strong>
  <%= @gameweek_event.red_cards %>
</p>

<p>
  <strong>Saves:</strong>
  <%= @gameweek_event.saves %>
</p>

<p>
  <strong>Bonus points:</strong>
  <%= @gameweek_event.bonus_points %>
</p>

<p>
  <strong>Esp:</strong>
  <%= @gameweek_event.esp %>
</p>

<p>
  <strong>Bps:</strong>
  <%= @gameweek_event.bps %>
</p>

<p>
  <strong>Net transfers:</strong>
  <%= @gameweek_event.net_transfers %>
</p>

<p>
  <strong>Value:</strong>
  <%= @gameweek_event.value %>
</p>

<p>
  <strong>Point:</strong>
  <%= @gameweek_event.point %>
</p>

<%= link_to 'Edit', edit_gameweek_event_path(@gameweek_event) %> |
<%= link_to 'Back', gameweek_events_path %>
