<%= form_for(@player_fixture_performance) do |f| %>
  <% if @player_fixture_performance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player_fixture_performance.errors.count, "error") %> prohibited this player_fixture_performance from being saved:</h2>

      <ul>
      <% @player_fixture_performance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fixture_id %><br>
    <%= f.number_field :fixture_id %>
  </div>
  <div class="field">
    <%= f.label :player_id %><br>
    <%= f.number_field :player_id %>
  </div>
  <div class="field">
    <%= f.label :kickoff %><br>
    <%= f.datetime_select :kickoff %>
  </div>
  <div class="field">
    <%= f.label :minutes_player %><br>
    <%= f.number_field :minutes_player %>
  </div>
  <div class="field">
    <%= f.label :goals_scored %><br>
    <%= f.number_field :goals_scored %>
  </div>
  <div class="field">
    <%= f.label :assists %><br>
    <%= f.number_field :assists %>
  </div>
  <div class="field">
    <%= f.label :clean_sheets %><br>
    <%= f.number_field :clean_sheets %>
  </div>
  <div class="field">
    <%= f.label :goals_conceded %><br>
    <%= f.number_field :goals_conceded %>
  </div>
  <div class="field">
    <%= f.label :own_goals %><br>
    <%= f.number_field :own_goals %>
  </div>
  <div class="field">
    <%= f.label :penalties_saved %><br>
    <%= f.number_field :penalties_saved %>
  </div>
  <div class="field">
    <%= f.label :penalties_missed %><br>
    <%= f.text_field :penalties_missed %>
  </div>
  <div class="field">
    <%= f.label :yellow_cards %><br>
    <%= f.number_field :yellow_cards %>
  </div>
  <div class="field">
    <%= f.label :red_cards %><br>
    <%= f.number_field :red_cards %>
  </div>
  <div class="field">
    <%= f.label :saves %><br>
    <%= f.number_field :saves %>
  </div>
  <div class="field">
    <%= f.label :bonus_points %><br>
    <%= f.number_field :bonus_points %>
  </div>
  <div class="field">
    <%= f.label :esp %><br>
    <%= f.number_field :esp %>
  </div>
  <div class="field">
    <%= f.label :bps %><br>
    <%= f.number_field :bps %>
  </div>
  <div class="field">
    <%= f.label :net_transfers %><br>
    <%= f.number_field :net_transfers %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.number_field :value %>
  </div>
  <div class="field">
    <%= f.label :point %><br>
    <%= f.number_field :point %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
