<p id="notice"><%= notice %></p>

<p>
  <strong>Fixture:</strong>
  <%= @player_fixture_performance.fixture_id %>
</p>

<p>
  <strong>Player:</strong>
  <%= @player_fixture_performance.player_id %>
</p>

<p>
  <strong>Kickoff:</strong>
  <%= @player_fixture_performance.kickoff %>
</p>

<p>
  <strong>Minutes player:</strong>
  <%= @player_fixture_performance.minutes_player %>
</p>

<p>
  <strong>Goals scored:</strong>
  <%= @player_fixture_performance.goals_scored %>
</p>

<p>
  <strong>Assists:</strong>
  <%= @player_fixture_performance.assists %>
</p>

<p>
  <strong>Clean sheets:</strong>
  <%= @player_fixture_performance.clean_sheets %>
</p>

<p>
  <strong>Goals conceded:</strong>
  <%= @player_fixture_performance.goals_conceded %>
</p>

<p>
  <strong>Own goals:</strong>
  <%= @player_fixture_performance.own_goals %>
</p>

<p>
  <strong>Penalties saved:</strong>
  <%= @player_fixture_performance.penalties_saved %>
</p>

<p>
  <strong>Penalties missed:</strong>
  <%= @player_fixture_performance.penalties_missed %>
</p>

<p>
  <strong>Yellow cards:</strong>
  <%= @player_fixture_performance.yellow_cards %>
</p>

<p>
  <strong>Red cards:</strong>
  <%= @player_fixture_performance.red_cards %>
</p>

<p>
  <strong>Saves:</strong>
  <%= @player_fixture_performance.saves %>
</p>

<p>
  <strong>Bonus points:</strong>
  <%= @player_fixture_performance.bonus_points %>
</p>

<p>
  <strong>Esp:</strong>
  <%= @player_fixture_performance.esp %>
</p>

<p>
  <strong>Bps:</strong>
  <%= @player_fixture_performance.bps %>
</p>

<p>
  <strong>Net transfers:</strong>
  <%= @player_fixture_performance.net_transfers %>
</p>

<p>
  <strong>Value:</strong>
  <%= @player_fixture_performance.value %>
</p>

<p>
  <strong>Point:</strong>
  <%= @player_fixture_performance.point %>
</p>

<%= link_to 'Edit', edit_player_fixture_performance_path(@player_fixture_performance) %> |
<%= link_to 'Back', player_fixture_performances_path %>
